<h2>Master</h2>

<table class='master'>
    <tbody>
    <tr class='odd'>
        <td>Number of workers</td>
        <td> <%=master.workers%> (<%=master.workersKilled%> killed)</td>
    </tr>
    <tr>
        <td>Number of core used </td>
        <td> <%=master.coresUsed%></td>
    </tr>
    <tr class='odd'>
        <td>Mem usage at startup </td>
        <td> <%=master.memoryUsageAtBoot%></td>
    </tr>
    <tr>
        <td>Current total mem usage </td>
        <td> <span id='currentMemoryUsage'><%=master.currentMemoryUsage%></td>
    </tr>
    <tr class='odd'>
        <td>CPU usage </td>
        <td> <span  id='hostCpu'><%=master.hostCpu%></span>%</td>
    </tr>
    <tr>
        <td>Average load </td><td>
        <span id='averageLoad'><%=master.averageLoad%></span></td>
    </tr>
    </tbody>
</table>

<div class='range range-max'>Pending incoming requests - max <span id='master-pending-in-max'></span></div>
<div id='master-in-pending'></div>
<div class='range range-min'>Pending incoming requests - min <span id='master-pending-in-min'></span></div>

<div class='range range-max'>Pending outgoing requests - max <span id='master-pending-out-max'></span></div>
<div id='master-out-pending'></div>
<div class='range range-min'>Pending outgoing requests - min <span id='master-pending-out-min'></span></div>

<p><a href='/in-flight'>In-flight Requests</a></p>

<% for(var i=0; i < workers.length; i++) {%>

<h2>Worker <%=i%></h2>
<p class='header'>Running since <%=workers[i].start%></p>

<table class='worker'>
    <tr class='odd'>
        <td>Running since</td>
        <td><%=workers[i].start%></td>
        <td>PID</td>
        <td><%=workers[i].pid%></td>
    </tr>
    <tr>
        <td>Total inbound connections</td>
        <td id='connectionsTotal-<%=i%>'><%=workers[i].connectionsTotal%></td>
        <td>Active inbound connections</td>
        <td id='connectionsActive-<%=i%>'><%=workers[i].connectionsActive%></td>
    </tr>
    <tr class='odd'>
        <td>Total requests out</td>
        <td id='outRequests-<%=i%>'><%=workers[i].outRequests%></td>
        <td>Total responses in</td>
        <td id='inResponses-<%=i%>'><%=workers[i].inResponses%></td>
    </tr>
    <tr>
        <td>Active inbound requests</td>
        <td id='activeInRequests-<%=i%>'><%=workers[i].inRequests - workers[i].outResponses%></td>
        <td>Active outbound requests</td>
        <td id='activeOutRequests-<%=i%>'><%=workers[i].outRequests - workers[i].inResponses%></td>
    </tr>
    <tr class='odd'>
        <td>Total process memory</td>
        <td id='totalProcMemoryWithSwap-<%=i%>'><%=workers[i].totalProcMemoryWithSwap%></td>
        <td>Total process memory (without swap)</td>
        <td id='totalProcMemoryWithoutSwap-<%=i%>'><%=workers[i].totalProcMemoryWithoutSwap%></td>
    </tr>
    <tr>
        <td>Heap available to V8</td>
        <td id='memoryHeapAvailablToV8Engine-<%=i%>'><%=workers[i].memoryHeapAvailablToV8Engine%></td>
        <td>Head used by V8</td>
        <td id='memoryHeapUsedByV8Engine-<%=i%>'><%=workers[i].memoryHeapUsedByV8Engine%></td>
    </tr>
</table>
<% } %>

