<h2><a href="/routes">Routes</a> &rarr; <%=routeInfo.method%> <a href="<%=routeInfo.about%>"><%=routeInfo.path%></a></h2>
<b>Info: </b><%-routeInfo.info || '<p>Not Available</p>'%>

<% if(tables.length) {%>
<table class= "routestables">
<thead><th>Tables Referenced</th></thead>
<%- partial('refTable', tables) %>
</table>
<% } %>

<% if(related.length) {%>
<table class= "routestables">
<thead><th>Related Routes</th></thead>
<%- partial('relatedRoute', related) %>
</table>
<% } %>
