 <h3 class="desc-statement">Statement: <%=type%></h3>
    <p>When you <code><%=type%></code> on this table, ql.io will send the following type of HTTP
    request to the resource.</p>
    <pre><%=statement.request%>
<%for(var i=0; i<statement.headers.length; i++){%><%=statement.headers[i].name%>: <%=statement.headers[i].value%><%}%>
<% if(statement.body){%>Content-Type: <%=statement.body.type%>&nbsp;<%=statement.body.content%><%}%>
    </pre>
    <p>You can include the following parameters in the where clause. In addition to these, you may
    need to supply parameters encoded within double curly braces (<code>{{</code> <code>}}</code>) in
    the body (if there is one) in the request above.</p>
    <table class= "routestables">
        <thead>
            <th>name</th>
            <th>required</th>
            <th>default</th>
        </thead>
        <tbody>
        <% for(var i=0; i<statement.params.length; i++) {%>
        <tr>
            <td><%=statement.params[i].variable%></td>
            <td><%=statement.params[i].required||'false'%></td>
            <td><%=statement.params[i].defautl||''%></td>
        </tr>
        <% } %>
        </tbody>
    </table>
