<h2>Log Files</h2>

<table class="logs">
    <thead>
        <tr>
            <td>File</td>
            <td>Size</td>
            <td>Created</td>
            <td>Last Modifled</td>
        </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < logs.length; i++) { %>
      <tr>
          <td><a href="/logs/<%=logs[i].filename%>"><%=logs[i].filename%></a></td>
          <td><%=logs[i].stats.size%></td>
          <td><%=logs[i].stats.ctime%></td>
          <td><%=logs[i].stats.mtime%></td>
      </tr>
    <% } %>
    </tbody>
</table>
