<h2>Worker <%=worker.pid%></h2>
<p class='header'>Running since <%=worker.start%></p>

<table class='worker'>
    <tr class='odd'>
        <td>Running since</td>
        <td><%=worker.start%></td>
        <td>PID</td>
        <td><%=worker.pid%></td>
    </tr>
    <tr>
        <td>Total inbound connections</td>
        <td id='connectionsTotal-<%=worker.pid%>'><%=worker.connectionsTotal%></td>
        <td>Active inbound connections</td>
        <td id='connectionsActive-<%=worker.pid%>'><%=worker.connectionsActive%></td>
    </tr>
    <tr class='odd'>
        <td>Total requests out</td>
        <td id='outRequests-<%=worker.pid%>'><%=worker.outRequests%></td>
        <td>Total responses in</td>
        <td id='inResponses-<%=worker.pid%>'><%=worker.inResponses%></td>
    </tr>
    <tr>
        <td>Active inbound requests</td>
        <td id='activeInRequests-<%=worker.pid%>'><%=worker.inRequests - worker.outResponses%></td>
        <td>Active outbound requests</td>
        <td id='activeOutRequests-<%=worker.pid%>'><%=worker.outRequests - worker.inResponses%></td>
    </tr>
</table>